{% extends 'login_layout.html.twig' %}

{% block title %}SIKA | Reset your password{% endblock %}
{% block body %}
      {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger flash-message-box alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ flashError|trans }}</p>
        </div>
     {% endfor %}
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                {{ form_start(requestForm) }}
                <div class="row">
                    <div class="col-4">
                        <div class="login-logo">
                            <img src= "{{ asset('assets/images/logo.png') }}" alt="SIKA GROUP" />
                            <a href="{{path('app_login')}}">SIKA GROUP</a>
                        </div>
                        <!-- /.login-logo -->
                    </div>
                    <div class="col-8" style="background-color: #fff;">
                        <p class="login-box-msg float-left">Reset your password</p>
                        <div class="input-group mb-3">
                            {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary">Send password reset email</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
    <a class="home-link" href="{{path('homepage')}}">Home <span class="fas fa-house-user"></span></a>
{% endblock %}