<!DOCTYPE html>
<html class="sidebar-collapse">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}SIKA | Customer List{% endblock %}</title>
        <link rel='icon' href="{{ asset('assets/images/favicon.ico') }}" type='image/x-icon' sizes="16x16" />
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/all.min.css') }}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- DataTables -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('assets/css/adminlte.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/sika.css') }}">
            <!-- Google Font: Source Sans Pro -->
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="hold-transition">
        <div class="wrapper">
            {% block header %}
                {% include 'customer/header.html.twig' %}
            {% endblock %}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% block content_header %}
                    {% include 'customer/content_header.html.twig' %}
                {% endblock %}
                <!-- Main content -->
                {% block content %}

                {% endblock %}
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {% block footer %}
                {% include 'customer/footer.html.twig' %}
            {% endblock %}
        </div>
        <!-- ./wrapper -->
        {% block mainjavascripts %}
            <!-- jQuery -->
            <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
            <!-- Bootstrap 4 -->
            <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <!-- DataTables -->
            <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('assets/js/adminlte.min.js') }}"></script>
            <script>
                 var langSwitchUrl = '{{ path('langswitch', {'lang': 'dummyLang', 'sourceUrl': 'dummyUrl'}) }}';
                 $('.lang-switcher a').click(function (e) {
                    var lang = $(this).attr('data-lang');
                    var path = $(this).attr('data-path');
                    var targetUrl =  langSwitchUrl.replace('dummyLang',lang).replace('dummyUrl', path);
                    window.location.href = targetUrl;
                 });
            </script>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
